* {
  --black: #090909;
}

html,
body {
  overflow: hidden;
}

main {
  margin: 0 auto;
  max-width: 1920px;
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--black);
  border: whitesmoke solid 2px;
  padding: 20px;
}

/* Logo */

.top {
  display: grid;
  height: 10%;
  max-width: 100%;
}

.logo {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  max-width: 500px;
}

.line {
  align-self: center;
  margin-top: 10px;
  grid-row: 1;
  grid-column: 1;
  height: 5px;
  width: 120%;
  margin-inline-start: 10px;
  background-color: blueviolet;
}

/* Content */
.content {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.aboutmelogo {
  width: clamp(50%, 70%, 420px);
  height: auto;
  place-self: center;
}

.aboutme {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pic {
  place-self: center;
  height: auto;
  width: 264px;
  max-width: 100%;
  border: solid 2px whitesmoke;
  box-shadow: 8px 8px 0px var(--black), 8px 8px 0px 2px whitesmoke;
}

p {
  margin-top: 0;
  font-size: 1.4rem;
  font-family: sans-serif;
  color: whitesmoke;
  font-weight: 100;
  line-height: 1.7rem;
}

/* Scroll */
section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

@media (min-width: 800px) {
  .content {
    padding-top: unset;
    margin-block-start: -50px;
    gap: unset;
  }

  .aboutmelogo {
    height: 100px;
  }

  .name {
    grid-column: 1/3;
    place-self: center;
    height: 45px;
    margin-block-end: 20px;
  }

  .aboutme {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 800px;
    align-self: center;
    gap: 30px;
    padding-top: 75px;
  }
  .pic {
    grid-row: 2;
  }
  p {
    grid-row: 2;
  }
}
