body {
  background-color: #1c1c1c;
  overflow-x: hidden;
}

.container {
  position: relative;
  border: whitesmoke solid 2px;
  margin: 10px;

  padding: 20px;
}

.top {
  position: relative;
}

.shapes {
  position: relative;
  top: 0;
  left: 0;
  width: 150px;
}

.logo {
  position: absolute;
  left: 76px;
  width: 560px;
  top: 24px;
}

.line {
  position: relative;
  background-color: blueviolet;
  height: 8px;
  width: 120vw;
  top: 58px;
  left: 76px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.aboutmelogo {
  padding-block-start: 120px;
  height: 100px;
}

.name {
  align-self: center;
  height: 45px;
}

.pic {
  width: 264px;
  border: solid 2px whitesmoke;
  box-shadow: 8px 8px 0px #1c1c1c, 8px 8px 0px 2px whitesmoke;
}

.aboutme {
  display: grid;
  grid-template-columns: 2fr auto;
  width: 1000px;
  align-self: center;
  gap: 30px;
  padding-top: 75px;
}

p {
  margin-top: 0;
  font-size: 1.4rem;
  font-family: sans-serif;
  color: whitesmoke;
  font-weight: 100;
  line-height: 1.7rem;
}
