@media (max-width: 1200px) {
  .top {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .shape {
    top: 10%;
    width: 50%;
    max-width: 500px;
    position: relative;
    place-self: center;
  }

  .text {
    top: -35%;
    place-self: center;
    position: relative;
  }
}

@media (min-width: 1200px) {
  header {
    position: fixed;
    height: 83px;
    width: calc(100% - 40px);
    z-index: 3;

    left: 20px;
    top: 0;
    transform: translateY(-55px);
    animation: moveHeader 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -6s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  @keyframes moveHeader {
    to {
      transform: translateY(0px);
    }
  }
  body {
    border-top: 0px;
    margin-top: 0;
  }

  .top {
    position: relative;
    top: 20px;
    left: 20px;
  }
}

@media (min-width: 2000px) {
  .shape {
    top: 400px;
  }

  .text {
    top: 100px;
  }
}
