body {
  background-color: #1c1c1c;
}

main {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* .line {
  position: fixed;
  background-color: blueviolet;
  height: 8px;
  width: 100%;
  top: 50%;
  left: 50%;
} */

img#logo {
  height: 200px;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.scroll {
  position: absolute;
}

/* img.logo {
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
} */
